---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Review from "../components/Review";
import Subheader from "../components/Subheader";
---

<Layout title="Welcome to Astro.">
  <main style="max-width: 1260px;">
    <h1 class="text-3xl w-fit mx-auto">ReStart Program Testimonies</h1>
    <div class="instructions bg-white shadow-xs border">
      <Subheader client:only/>
    </div>
    <!-- link-card-grid -->
    <ul role="list" class="flex flex-wrap gap-4">
      <Review 
        content={`Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id earum minus
          placeat impedit, deserunt ducimus quia perferendis ex quisquam doloribus
          aliquam. Distinctio provident voluptatibus saepe hic culpa. Ratione,
          nisi debitis!`} 
        author={"Adnan Ahmed"} 
        submittedAt={"2 months ago"}/>

      <Review 
      content={`Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id earum minus
      placeat impedit, deserunt ducimus quia perferendis ex quisquam doloribus
      aliquam. Distinctio provident voluptatibus saepe hic culpa. Ratione,
      nisi debitis!`} 
      author={"Adnan Ahmed"} 
      submittedAt={"2 months ago"}/>

 
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 1260px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin: 1rem 0;
    /* border: 1px solid rgba(var(--accent), 25%); */

    background-color: white;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
